@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

.section4{
    width: 100%;
    height: 80vh;
    
    
    
  

    .section4Items{
        width: 100%;
        height: 60vh;
        padding: 20rem 0;
        display: flex;
        gap: 50px;
        
        .left{
            display: flex;
            flex: 1;
            

            .content{

                width: 500px;
                height: 500px;
                margin: 0 40px;
                
                
                
            

            h3{
                font-size:37px;
                display: flex;
                line-height: 1.5;
                font-family: sans-serif;
                padding: 0 30px;
            }

            p{
                font-weight: 400;
                font-family: sans-serif;
                padding: 0 30px;
                font-size: 1rem;
                line-height: 1.5;
            }

            .stage {
                padding:40px;
                
                
                
            }
                a {
                  line-height:1em;
                  letter-spacing:0.06em;
                  font-family: 'Lato', sans-serif;
                  font-weight:normal;
                  font-size:16px;
                  text-decoration:none;
                  color:#fff;
                  background:#231f20;
                  display:inline-block;
                  padding:15px 12px 15px 15px;
                  
                  border-radius:4px;
                }
                a:hover {
                  background:#cea052;
                }
                a:after {
                  font-family: 'FontAwesome', sans-serif;
                  font-weight:300;
                  content: "\f105";
                  margin-left:20px;
                  color:#cea052;
                  font-size:18px;
                  vertical-align:middle;
                  transition:color 200ms;
                }
                
                a:hover:after {
                  color:#231f20;
                }
        }

           
        }
        .right{
            display: block;
            flex: 1;
            padding: 0 50px;
            
            
            
            
        }
    }
    
}